extends layout

block content
    #wrapAbout
        #wrapAboutImage(style='width: 100%;')
        #aboutOverlay
            .container
                .row
                    .col-10.offset-1
                        h3.display-3.text-white.ml-4 About Us
                    .col-10.offset-1.shadow.mt-5.mb-5.pb-4(style="background: white")
                        .container
                            .row
                                .col-12.pt-3.pb-2.border-bottom
                                    p(style='font-size: 1.5em')
                                        b   DorStroy Holding company embodies the most ambitious creative ideas ambitious creative ideas.
                                #a.col-12.pt-2.pb-2.act
                                    p(style='font-size: 1.2em') The company was established in 2004.
                                #a.col-12.pt-2.pb-2
                                    p(style='font-size: 1.2em') Over the years of successful work, we made highly professional and strong team of specialists and managers. 
                                #a.col-12.pt-2.pb-2
                                    p(style='font-size: 1.2em') The technologies and creativity of DorStroy Holding were shown to the whole world, due to the successful work at the International specialized exhibition EXPO 2017 Astana.
                                #a.col-12.pt-2.pb-2
                                    p(style='font-size: 1.2em') In 2017, we successfully implemented projects of Thematic Pavilions, the Pavilion of the Republic of Korea, as well as the International Pavilions 6 Plaza of the International Specialized Exhibition EXPO 2017 Astana.
                                #a.col-12.pt-2.pb-2
                                    p(style='font-size: 1.2em') Our company is one of the leaders in creating content for EXPO exhibitions and other major world-class exhibition events.
                                #a.col-12.pt-2.pb-2
                                    p(style='font-size: 1.2em') Among the partners of the company is the South Korean company SIGONGtech with more than thirty years of experience in organizing and conducting EXPO exhibitions around the world.
                                #a.col-12.pt-2.pb-2
                                    p(style='font-size: 1.2em') DorStroy Holding has 1st category State License of the for construction and installation works. Also we were included in the List of qualified suppliers of NWF Samruk-Kazyna JSC with a maximum level of admission to the procurement of goods, works and services.