extends layout

block content
    #wrapDesign(style='height: 100vh; width: 100vw;')
        #imgContentDesign
        #imgContentDesignOverlay
            .container
                .row
                    .col-6
                        .container.pl-3
                            h3.ml-5.display-3(style='') Design
                            p.ml-5.font-weight-light(style='') DorStroy Holding has experience in creating venues for EXPO exhibitions and major international events of world level ​with the latest know-how and cooperation of experts in different areas.​ We work «Turnkey» - from design to management.
                    .col-6
                        .container.pr-4
                            .container.pr-5
                                .row
                                    #m1.col
                                    #m2.col
                                    .w-100
                                    #m3.col
                                    #m4.col