extends layout

block content
    #wrapDevelopement(style='height: 100vh; width: 100vw;')
        #imgContent
            .container
                .row
                    .col-6
                        .container.pl-3
                            h3.ml-5.display-3 Development
                            p.ml-5.font-weight-light Over the years of successful work, team of highly professional specialists and managers has formed. In 2017-2018, Following projects were successfully implemented:  Thematic pavilions, the Pavilion of the Republic of Korea and the International Pavilions 6 Plaza.​
                    .col-6
                        .container.pr-4
                            .container.pr-5
                                .row
                                    #m1.col
                                    #m2.col
                                    .w-100
                                    #m3.col
                                    #m4.col
            