extends layout

block content
    #wrapHistory(style='width: 100%')
        #wrapHistoryImage
        #historyOverlay
            .container
                .row
                    .col-10.offset-1
                        h3.display-3.text-white.ml-4 Company History
                    .col-10.offset-1.shadow.mt-5(style="background: white")
                        .row
                            .col-12.pl-5.pt-3
                                h3.border-bottom(style='font-size: 2.5em;') 2013
                            .col-12.pl-5.pt-3.pb-4
                                .row
                                    .col-6(style='font-size: 1.4em;')
                                        ul
                                            li Contract on the design, manufacture and installation of video, layout, lobby map, moving screens at the National Museum of Kazakhstan.
                                    .col-6
                                        #museum
                                            .row
                                                #m1.col
                                                #m2.col
                                                .w-100
                                                #m3.col
                                                #m4.col
                    #promo.col-10.offset-1.shadow.mt-5(style="background: white")
                        .row
                            .col-12.pl-5.pt-3
                                h3.border-bottom(style='font-size: 2.5em;') 2015
                            .col-12.pl-5.pt-3.pb-4.pr-5
                                .row
                                    .col-12(style='font-size: 1.4em;')
                                        ul
                                            li Promo-hall "Astana EXPO-2017"
                                    .col-4
                                        #ph1
                                    .col-4
                                        #ph2
                                    .col-4
                                        #ph3
                                        
                    .col-10.offset-1.shadow.mt-5.mb-5(style="background: white")
                        .row
                            .col-12.pl-5.pt-3
                                h3.border-bottom(style='font-size: 2.5em;') 2016
                            .col-12.pl-5.pt-3
                                .row
                                    .col-12(style='font-size: 1.2em;')
                                        ul
                                            li.border-bottom.pb-2.mb-2 Development of the concept and the main project of the thematic pavilion "Astana EXPO-2017".
                                            li.border-bottom.pb-2.mb-2 Development of a working draft of the thematic pavilion "Astana EXPO-2017".
                                            li.border-bottom.pb-2.mb-2 Production and installation of the thematic pavilion content "Astana EXPO-2017".
                                            li.border-bottom.pb-2.mb-2 Design / manufacture and installation of content of the Korean pavilion "Astana EXPO-2017" (KOTRA).
                                            li.border-bottom.pb-2.mb-2 Development of a working draft of the international pavilions "Astana EXPO-2017". 7 design contracts.
                                            li.border-bottom.pb-2.mb-2 Organization of technical sessions of developing countries participating "Astana EXPO-2017" around the world.
                                            li.border-bottom.pb-2.mb-2 Contract for the manufacture and installation of 7 international pavilions "Astana EXPO-2017".
                                            li.border-bottom.pb-2.mb-2 Work on the transfer and commissioning of the thematic pavilion "Astana EXPO-2017".
                                            li.pb-2.mb-2  Renovation of the hall of the future on the 8th floor of the main pavilion "Astana EXPO-2017" Nur-Alem.