extends layout

block content
    section.section-1.container
        .video-wrap
            video(src="https://res.cloudinary.com/yugandco/video/upload/v1584172672/video_2.mp4", autoplay, loop, muted)
        .section-overlay
        .section-content
            h1 YOUR BEST PARTNER
            p We're building future
    section.section-2
        .container
            .row
                .col-10.offset-1.shadow.mt-5(style="background: white")
                    .row
                        .col-12.pl-5.pt-3
                            h3.border-bottom(style='font-size: 2.5em;') About us
                        .col-12.pl-5.pt-3
                            .row
                                .col-6(style='font-size: 1.4em;')
                                    p 
                                        b DorStroy Holding 
                                        span is successfully developing in the field of construction of cultural structures, in the field of design of exhibition complexes and in conducting large -scale events. 
                                .col-6
                                    img.img-fluid(src="/assets/img/aboutus.png", alt="")
                        .col-12.pl-5.pb-4
                            a(style='border-bottom: 1px solid black; text-decoration:  none;color: black;font-size: 1.3em;',href='/about') Read more
                //- Development
                .col-10.offset-1.shadow.mt-5(style="background: white")
                    .row
                        .col-12.pl-5.pt-3
                            h3.border-bottom(style='font-size: 2.5em;') Company History
                        .col-12.pl-5.pt-3
                            .row
                                .col-6(style='font-size: 1.4em;')
                                    p We’re developed and installed National museum contents,and successfully implemented Thematic pavilions, the Pavilion of the Republic of Korea and the International Pavilions 6 plaza.
                                .col-6
                                    img.img-fluid(src="/assets/img/expo.png", alt="")
                        .col-12.pl-5.pb-4
                            a(style='border-bottom: 1px solid black; color: black;font-size: 1.3em; text-decoration: none',href='/companyHistory') Read more
                //- Design
                .col-10.offset-1.shadow.mt-5.mb-5(style="background: white")
                    .row
                        .col-12.pl-5.pt-3
                            h3.border-bottom(style='font-size: 2.5em;') Our Projects
                        .col-12.pl-5.pt-3
                            .row
                                .col-6(style='font-size: 1.4em;')
                                    p DorStroy Holding has experience in creating venues for EXPO exhibitions and major international events of world level ​with the latest know-how and cooperation of experts in different areas.​ We work «Turnkey» - from design to management.
                                .col-6
                                    img.img-fluid(src="/assets/img/first.png", alt="")
                        .col-12.pl-5.pb-4
                            a(style='border-bottom: 1px solid black; color: black;font-size: 1.3em; text-decoration: none',href='/ourProjects') Read more