extends layout

block content
    #wrapProjects(style='width: 100%')
        #wrapProjectsImage
        #projectsOverlay
            .container
                .row
                    .col-10.offset-1
                        h3.display-3.text-white.ml-4 Our Projects Gallery
                    .col-10.offset-1.shadow.mt-5.mb-5(style="background: white")
                        .row
                            .col-12.pt-3.pb-4
                                .masonry
                                    .itema
                                        img.img-fluid(src="/assets/img/m1.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/m3.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/d1.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/des.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/m5.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/third.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/expo.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/first.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/sec.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/promo-hall.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/events.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/events2.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/m2.png", alt="")
                                    .itema
                                        img.img-fluid(src="/assets/img/m4.png", alt="")
                                    