extends layout

block content
    #wrapProjects(style='width: 100%')
        #wrapProjectsImage
        #projectsOverlay
            .container
                .row
                    .col-10.offset-1
                        h3.display-3.text-white.ml-4 Our Projects Gallery
                    .col-10.offset-1.shadow.mt-5.mb-5(style="background: white; heigh: auto")
                        .row
                            .col-12.pt-3.pb-4
                                .masonry
                                    .itema
                                        img.img-fluid(src="/assets/img/m1.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: National Museum
                                            div Date: 2013-11-20 ~ 2014-06-30
                                            div Surface area: 8,545sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/m3.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: National Museum
                                            div Date: 2013-11-20 ~ 2014-06-30
                                            div Surface area: 8,545sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/d1.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: Expo 2017 National Company
                                            div Date: 2016-08-17 ~ 2017-08-17
                                            div Surface area: 8,992.63sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/des.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: Expo 2017 National Company
                                            div Date: 2016-08-17 ~ 2017-08-17
                                            div Surface area: 8,992.63sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/m5.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: National Museum
                                            div Date: 2013-11-20 ~ 2014-06-30
                                            div Surface area: 8,545sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/third.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: Expo 2017 National Company
                                            div Date: 2016-08-17 ~ 2017-08-17
                                            div Surface area: 8,992.63sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/expo.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: Expo 2017 National Company
                                            div Date: 2015-12-31 ~ 2016-07-01
                                            div Surface area: 8,992.63sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/first.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: Expo 2017 National Company
                                            div Date: 2016-08-17 ~ 2017-08-17
                                            div Surface area: 8,992.63sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/sec.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: Expo 2017 National Company
                                            div Date: 2016-08-17 ~ 2017-08-17
                                            div Surface area: 8,992.63sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/promo-hall.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: Expo 2017 National Company
                                            div Date: 2015-05-19 ~ 2015-06-22
                                            div Surface area: 648,8sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/events.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Date: 2017-10-07 ~ 2017-12-10
                                            div Surface area: 1,125.47sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/events2.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Date: 2017-10-07 ~ 2017-12-10
                                            div Surface area: 1,125.47sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/m2.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: National Museum
                                            div Date: 2013-11-20 ~ 2014-06-30
                                            div Surface area: 8,545sqm
                                    .itema
                                        img.img-fluid(src="/assets/img/m4.png", alt="")
                                        .item-lay.pt-2.pb-2
                                            div Client: Expo 2017 National Company
                                            div Date: 2016-08-17 ~ 2017-08-17
                                            div Surface area: 8,992.63sqm
                                    